modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start -- -H 0.0.0.0"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Run Dev Server"

[[workflows.workflow]]
name = "Run Dev Server"
author = 41184431
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- -H 0.0.0.0"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5555
externalPort = 3000
